[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
tiktoken = "*"
openai = "*"
rich = "*"
anthropic = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.13"
